{% extends "FOSUserBundle::LoginLayout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content_checkEmail %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}

