{% extends "FOSUserBundle::Layout1.html.twig" %}

{% block fos_user_content_compte %}
<h4>Modifier mon compte</h4>
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content_compte %}
