{% extends "FOSUserBundle::LoginLayout.html.twig" %}

{% block fos_user_content_register %}
			<h4>Crée un  compte</h4>

{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content_register %}
